@use "main";

// desktop
@media screen and (min-width: 810px) {
    .content {
        width: 40vw;
        margin-left: 30vw;
    }
}

// tablet
@media screen and (min-width: 500px) and (max-width: 810px) {
    .content {
        width: 60vw;
        margin-left: 20vw;
    }
}
