@font-face {
    font-family: "IBMPlex Mono";
    src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "IBMPlex Sans";
    src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "IBMPlex Serif";
    src: url("../fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "e-Ukraine";
    src: url("../fonts/e-Ukraine/e-Ukraine-Regular.ttf") format("truetype");
}
